body {
    background-color: #84A59D;
    margin: 0;
}
p{
    font-family: URW Chancery L, cursive;
}
.nav-bar{
    background-color: rgb(255, 255, 255, .5);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav{
    text-align: center;
}
.nav-bar a{
    font-family: Lucida Handwriting, Lucida Console;
    color: black;
    padding: 1em;
    width: 33%;
    padding: 10px;
    text-decoration: none;
    font-size: 3em;
}

#title{
    font-family: Lucida Handwriting, Lucida Console;;
    text-align: center;
    font-size: 5em;
    margin-top: 3%;
}

.scrollable img{
    width: 100%;
}
.main-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-info p{
    grid-column: 1;
    font-size: 2.5em;
    margin-left: 10%;
    text-align: center;
    margin-top: 15%;
}
#mid-img {
    margin-left: 15%;
    margin-top: 80%;
    height: 50%;
}
#mid-img img{
    grid-column: 2;
    height: 50%;

}
.third{
    grid-column: 3;
    display: grid;
 
    grid-template-rows: 1fr 1fr;
}
#right-img {
    margin-left: 18%;
    margin-top: 60%;
    height: 80%;
}
#right-img img{
    grid-row: 2;
    height: 100%;
    margin-top: 35%;
    margin-left: 25%;
}
.main-info a{
    grid-row: 1;
    text-align: center;

    font-size: 2.5em;
    justify-self: center;
    height: 25%;
    font-family: Lucida Handwriting, Lucida Console;
    color: black;
    margin-top: 90%;


}
#head-logo{
    grid-column: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;
}
#head-logo img{
    width: 200%;
}
footer{
    overflow: hidden;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
footer a{
    font-family: Lucida Handwriting, Lucida Console;
    color: black;
    padding: 1em;
    width: 20%;
    padding: 5%;
    text-decoration: none;
    font-size: 1.5em;
}
